{%- for key,val in salt['pillar.get'](settings, {})|dictsort %}
{%- if val is string %}
{{ key }} {{ val }};
{%- elif val is mapping or val is sequence %}
{%- if key == 'protocol' %}
{%- for k,v in val.iteritems() %}
protocol {{ v.type }} {{ k }} {
{%- for i,j in v.iteritems() if i != 'type' %}
  {{ i }} {{ j }};
{%- endfor %}
}
{%- endfor %}
{%- endif %}
{%- endif %}
{%- endfor %}
